body {
  font-family: Arial, sans-serif;
  background-color: #d8f5ff;
  background-image: url("prenos.jpg");
}

h1 {
  color: #3a3845;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #3a3845;
  font-size: 16px;
  font-weight: 200;
  line-height: 19px;
  opacity: 0.9;
}

a {
  text-decoration: none;
  color: #5a5b5c;
  transition: all 0.5s ease-in-out;
}

a:hover {
  color: #3a3845;
  font-weight: 500;
  text-decoration: underline;
}

.btn {
  background-color: #3a3845;
  border-radius: 10px;
  border-color: #dadde1;
  transition: all 0.5s ease-in-out;
}

.btn:hover {
  background-color: #3a38458a;
  border-color: #dadde1;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
  color: #5a5b5c;
}
.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background-color: #fefefe;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
  background-color: #d8f5ff;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.7;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
